<h2 class = "page-header">Edit Authors</h2> 
<!-- metoda post bo tworzy nowy obiekt, POST mozna uzyc tylko w formularzu -->
<form action="/authors/<%= author.id %>?_method=PUT " method="POST">
    <%- include("_form_fields")  %> 
<!-- ankhor - use to links, buttons interacts with forms -->
    <a class="btn btn-danger" href="/authors/<%= author.id %> ">Cancel</a>
    <button class="btn btn-primary" type="submit">Update</button>
</form>  