<h2 class = "page-header">New Authors</h2> 
<!-- metoda post bo tworzy nowy obiekt, POST mozna uzyc tylko w formularzu -->
<form action="/authors" method="POST">
    <%- include("_form_fields")  %> 
<!-- ankhor - use to links, buttons interacts with forms -->
    <div class="form-row form-row-end btn-row"></div>
        <a class="btn btn-danger" href="/authors">Cancel</a>
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>  